@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&family=Raleway:wght@300&family=Roboto+Slab&display=swap');

body {
  background: linear-gradient(#fff, #b5bdbe);
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .03rem;
}

.card {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, .breadcrumb-item {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

h2, h3 { color: rgb(90, 90, 122); }

a { color: rgb(71, 81, 223); }

.deck-page .card {
  max-width: 900px;
  margin: 0 auto;
}

.study-page .card { background-color: rgba(255, 252, 50, 0.5); }